<!DOCTYPE html>
<html>
<head>
  <title>Blimp</title>
  <%= stylesheet_link_tag    "blimp/application", media: "all" %>
  <%= javascript_include_tag "blimp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
